<div class="loaders-wrapper">
  <div class="loading"
       *ngIf="areSongsLoading"
  >
    <div class="loading-text">
      <div class="constant-text">
        Please, wait while the songs are loading
      </div>
      <div class="song-fact">
        {{ songFact }}
      </div>
    </div>
  </div>
  <div class="no-result"
       *ngIf="!areSongsAvailable
       && !areSongsLoading
       && !isError"
  >
    There are no songs :(
  </div>
  <div class="error-message"
       *ngIf="isError"
  >
    Whoops, something went wrong. Please, try again.
  </div>
  <div class="spinner"
       *ngIf="areSongsLoading"
  >
    <mat-spinner></mat-spinner>
  </div>
</div>
<div class="wrapper">
  <app-similarity-list-item *ngFor="let song of similarSongs"
                            [song]="song"
                            (click)="openDialogWindow(song)"
  ></app-similarity-list-item>
</div>
