@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

$main-font: 'Roboto';

.loaders-wrapper {
  margin: 24px 0;
  text-align: center;

  .loading {
    display: flex;
    justify-content: center;
    flex-direction: column;

    .loading-text {
      font-family: $main-font;
      color: #fff;
      margin: 48px 0;

      .constant-text {
        font-size: 48px;
        margin-bottom: 48px;
      }

      .song-fact {
        font-size: 36px;
        animation: text-visibility 7s infinite;
      }
    }

    .mat-spinner {
      margin: 24px auto 0;

      &::ng-deep circle {
        stroke: #fff;
      }
    }
  }

  .no-result,
  .error-message {
    font-family: $main-font;
    color: #fff;
    font-size: 36px;
    margin-top: 24px;
  }
}

.loaders-light {
  .loading {
    .loading-text {
      color: #21262a;
    }

    .mat-spinner {
      &::ng-deep circle {
        stroke: #21262a;
      }
    }
  }

  .no-result,
  .error-message {
    color: #21262a;
  }
}

.text-wrapper {
  margin: 0 5%;

  .sort {
    display: flex;
    align-items: center;
    color: #fff;
    font-family: $main-font;
    font-size: 24px;

    .sort-text {
      font-size: 36px;
    }

    .sort-buttons {
      display: flex;

      .most-similar,
      .least-similar {
        margin-left: 24px;
        border-radius: 4px;
        border: 1px #fff solid;
        padding: 10px 5px;
        cursor: pointer;
      }

      .selected {
        color: #21262a;
        border: 1px #21262a solid;
        background-color: #fff;
      }
    }
  }
}

.text-light {
  .sort {
    color: #21262a;

    .sort-buttons {
      .most-similar,
      .least-similar {
        border: 1px #21262a solid;
      }

      .selected {
        color: #ffffff;
        border: 1px #ffffff solid;
        background-color: #21262a;
      }
    }
  }
}

.wrapper {
  display: grid;
  margin: 0 5%;
  padding: 32px 0;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 24px;
}

@media screen and (max-width: 1024px) {
  .wrapper {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 36px;
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 36px;
  }
}

@media screen and (max-width: 576px) {
  .wrapper {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 36px;
  }

  .text-wrapper {
    .sort {
      flex-direction: column;
      justify-content: space-between;

      .sort-buttons {
        margin-top: 12px;

        .most-similar {
          margin-left: 0;
        }
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .loaders-wrapper {
    .loading {
      .loading-text {
        margin: 0 0 48px 0;
      }
    }
  }

  .text-wrapper {
    .sort {
      flex-direction: column;
      justify-content: space-between;

      .sort-buttons {
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;

        .most-similar,
        .least-similar {
          width: 100%;
          margin: 12px 0 0 0;
        }
      }
    }
  }
}

@media screen and (max-width: 320px) {
  .wrapper {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 36px;
  }
}

@keyframes text-visibility {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
