<div class="loaders-wrapper"
     [ngClass]="theme === 'dark'
     ? 'loaders-wrapper'
     : 'loaders-wrapper loaders-light'"
>
  <div class="loading"
       *ngIf="areSongsLoading"
  >
    <div class="loading-text">
      <div class="constant-text">
        Please, wait while the songs are loading
      </div>
      <div class="song-fact">
        {{ songFact }}
      </div>
    </div>
    <mat-spinner *ngIf="areSongsLoading"></mat-spinner>
  </div>
  <div class="no-result"
       *ngIf="!areSongsAvailable
       && !areSongsLoading
       && !isError"
  >
    There are no songs :(
  </div>
  <div class="error-message"
       *ngIf="isError"
  >
    Whoops, something went wrong. Please, try again.
  </div>
</div>
<div class="text-wrapper"
     [ngClass]="theme === 'dark'
     ? 'text-wrapper'
     : 'text-wrapper text-light'"

>
  <div class="sort"
       *ngIf="areSongsAvailable"
  >
    <div class="sort-text">
      Sort by:
    </div>
    <div class="sort-buttons">
      <div class="most-similar"
           [ngClass]="mostSimilar ? 'selected' : null"
           (click)="chooseMostSimilar()"
      >
        Most similar
      </div>
      <div class="least-similar"
           [ngClass]="leastSimilar ? 'selected' : null"
           (click)="chooseLeastSimilar()"
      >
        Least similar
      </div>
    </div>
  </div>
</div>
<div class="wrapper">
  <app-similarity-list-item *ngFor="let song of similarSongs"
                            [song]="song"
                            (click)="openDialogWindow(song)"
  ></app-similarity-list-item>
</div>
