@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

$main-font: 'Roboto';

header {
  font-family: $main-font;
  width: 100vw;
  background-color: #21262a;
  position: fixed;
  top: 0;
  padding: 16px 48px;
  box-shadow: 0 0 48px 8px rgba(0,0,0,0.5);

  .brand {
    .brand-link {
      text-decoration: none;
      color: #fff;
      font-size: 32px;
      line-height: 40px;
    }
  }
}
