<div class="wrapper"
     [ngClass]="theme === 'dark' ? 'wrapper' : 'wrapper light'"
>
  <mat-spinner *ngIf="areSongsLoading"></mat-spinner>
  <div class="no-result"
       *ngIf="!areSongsAvailable && !areSongsLoading"
  >
    There are no songs :(
  </div>
  <div class="error-message"
       *ngIf="isError"
  >
    Whoops, something went wrong. Try to enter a new query.
  </div>
  <app-songs-list-item *ngFor="let song of songs"
                       [song]="song"
                       (click)="viewSimilar(song.id)"
  ></app-songs-list-item>
</div>
