@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

$main-font: 'Roboto';

.wrapper {
  margin: 0 10%;
  padding: 24px 0;

  .mat-spinner {
    margin: 0 auto;

    &::ng-deep circle {
      stroke: #fff;
    }
  }

  .no-result,
  .error-message {
    font-family: $main-font;
    color: #fff;
    font-size: 36px;
    margin-top: 24px;
    text-align: center;
  }
}
