<div class="wrapper">
  <h1 class="title">
    Find your new favorite song
  </h1>
  <h2 class="subtitle">
    Any genre, any time period. If we heard it, we can help.
  </h2>
  <form (ngSubmit)="search()"
        class="search"
  >
    <input type="text"
           class="search-input"
           placeholder="Search by Artist or Song"
           [(ngModel)]="inputValue"
           name="input"
           autofocus
    >
    <button class="search-btn"
            type="submit"
    >
      <img [src]="searchIcon"
           alt=""
           class="search-img"
      >
    </button>
  </form>
</div>
