@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

$main-font: 'Roboto';

.wrapper {
  text-align: center;
  font-family: $main-font;
  color: #fff;
  margin-bottom: 80px;
  text-shadow: #000 0 0 8px;

  .title {
    margin-bottom: 16px;
    font-size: 40px;
    line-height: 48px;
  }

  .subtitle {
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
    margin-bottom: 32px;
  }

  .search {
    height: 48px;
    width: 100%;
    display: flex;
    border-radius: 8px;
    box-shadow: 0 0 48px 8px rgba(0,0,0,1);

    .search-input,
    .search-btn {
      height: 100%;
      outline: none;
    }

    .search-input {
      display: block;
      width: 90%;
      border: none;
      border-radius: 8px 0 0 8px;
      padding-left: 16px;
      font-family: $main-font;
      font-size: 24px;
      line-height: 32px;
    }

    .search-btn {
      background-color: #fff;
      border: none;
      border-radius: 0 8px 8px 0;
      width: 10%;
      cursor: pointer;

      .search-img {}
    }
  }
}
