@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

$main-font: 'Roboto';

.cross-wrapper {
  display: flex;
  justify-content: flex-end;
  width: 90%;
  margin: 0 auto;

  .cross {
    cursor: pointer;

    .cross-img {
      filter: invert(100%);
    }
  }
}

.cross-light {
  .cross {
    .cross-img {
      filter: none;
    }
  }
}

.wrapper {
  font-family: $main-font;
  padding: 16px 0;
  color: #fff;
  background-color: #21262a;
  text-transform: capitalize;
  text-align: center;
  max-width: 60vw;
  margin: 0 auto;

  .title {
    font-size: 36px;
    line-height: 42px;

    a {
      color: #fff;
      text-decoration: none;
      outline: none;

      &:hover {
        animation: change-color 0.5s;
        color: #a8a8bd;
      }
    }
  }

  .artist {
    font-size: 24px;
    line-height: 28px;

    a {
      color: #fff;
      text-decoration: none;
      outline: none;

      &:hover {
        animation: change-color 0.5s;
        color: #a8a8bd;
      }
    }
  }

  .percentage {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 24px;
  }

  .lyrics {
    .lyrics-title {
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      margin-bottom: 8px;
    }

    .lyrics-text {
      font-size: 16px;
      line-height: 19px;
      white-space: pre-wrap;
    }
  }
}

.light-wrapper {
  color: #21262a;
  background-color: #fff;

  .title {
    a {
      color: #21262a;
    }
  }

  .artist {
    a {
      color: #21262a;
    }
  }
}

@media screen and (max-width: 420px) {
  .wrapper {
    width: 100%;
    height: 100%;
  }
}

@keyframes change-color {
  0% {
    color: #fff;
  }
  100% {
    color: #a8a8bd;
  }
}
