* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mat-dialog-container {
  background-color: #21262a;

  &::-webkit-scrollbar {
    width: 6px;
    background-color: #21262a;
    border-radius: 6px;
  }

  &::-webkit-scrollbar-thumb {
    width: 6px;
    background-color: #2d353b;
    border-radius: 6px;
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
