* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.custom-dark-dialog-container {
  width: 60vw;
  height: 80vh;

  .mat-dialog-container {
    background-color: #21262a;

    &::-webkit-scrollbar {
      width: 6px;
      background-color: #21262a;
      border-radius: 6px;
    }

    &::-webkit-scrollbar-thumb {
      width: 6px;
      background-color: #2d353b;
      border-radius: 6px;
    }
  }
}

.custom-light-dialog-container {
  width: 60vw;
  height: 80vh;

  .mat-dialog-container {
    background-color: #fff;

    &::-webkit-scrollbar {
      width: 6px;
      background-color: #fff;
      border-radius: 6px;
    }

    &::-webkit-scrollbar-thumb {
      width: 6px;
      background-color: #a8a8bd;
      border-radius: 6px;
    }
  }
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
  background-color: #a8a8bd;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
  background-color: #21262a;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@media (max-width: 420px) {
  .custom-dark-dialog-container,
  .custom-light-dialog-container, {
    width: 100vw;
    height: 100vh;
  }
}

