@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

$main-font: 'Roboto';

.song-info {
  background-color: #21262a;
  color: #fff;
  font-family: $main-font;
  font-size: 24px;
  line-height: 36px;
  padding: 20px 40px;
  margin-top: 24px;
  text-transform: capitalize;
  box-shadow: 0 0 3rem 0.5rem rgba(0,0,0,0.5);
}
